<div class="header">
    <h1>{{ selectedTitle }}</h1>
    <div class="header-search">
        <div class="search-icon">
            <img src="../../assets/search.svg" alt="" width="23px">
        </div>
        <input type="search" placeholder="Search here">
    </div>
    <div class="header-body">
        <mat-icon style="color: var(--main-color);font-size: 24px;">notifications</mat-icon>
        <div class="header-avatar">
            <img src="../../assets/user.svg" alt="" width="20px">
        </div>         
    </div>
</div>
